
html, body {
    height: 100%;
    width: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    padding: 0 6px;
    font-size: 14px;
    color: #fff;
}

* {
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.twocolordiv  {
position: relative;
z-index: 9;
background: #b4ada7;
width:250px;
height:250px;
border-radius:30px;
}

.twocolordiv:before {
content: "";
position: absolute;
z-index: -1;
top: 0;
right: 50%;
bottom: 0;
left: 0;
background: #414551;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
}

.whitecolordiv{
    background-color: rgba(215,215,215, 1.00);
    height: 230px;
    width: 230px;
    border-radius: 20px;
    position: absolute;
    top: 2.1%;
    left: 6%;
    z-index: 9;
}
.weatherdiv{
    background-color: #414551;
    height: 100px;
    width: 215px;
    border-radius: 15px;
    position: absolute;
    top: 26.5%;
    left: 8%;
    z-index: 10;
}

.weather-icon{
 width:30%;
position: relative;
top:17%;
left:10%;
}

.temperature-row{
 position: absolute ;
left: 40%;
top: 31.5%;
z-index:11;

}

.weather-degree{
 font-size:2rem;
font-weight:bold;
}

.row-time{
z-index:12;
position:absolute;
top:7%;
left:11%;
color:#414551;
width:100%;
}

.icon-time{
width: 35px;
height: auto;
padding-right: 15px;
z-index:20;
float:left;
}

#Clock{
display:block;
}


.row-date{
z-index:12;
position:absolute;
top:14%;
left:11%;
color:#414551;
width:100%;
}

.icon-date{
width: 37px;
height: auto;
padding-right: 17px;
z-index:20;
float:left;
}

#monthName{

margin-left:-2px;
}

.row-batt{
z-index:12;
position:absolute;
top:20%;
left:11.5%;
color:#414551;
width:100%;
}

.icon-batt{
width: 35px;
height: auto;
padding-right: 15px;
z-index:20;
float:left;
}

#battLevel{
margin-left:-2px;
}

